<table cellpadding="0" cellspacing="0" border="0" class="480" align="center" bgcolor="{{ brandColor }}">
	<tr>
		<td width="20" style="font-size: 1px; line-height: 20px; border-left: 2px solid #efefef;" class="hide">
			&nbsp;
		</td>
		<td width="560" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; color: #FFFFFF;" class="m480">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</td>
		<td width="20" style="font-size: 1px; line-height: 20px; border-right: 2px solid #efefef;" class="hide">
			&nbsp;
		</td>
	</tr>
</table>

